<?xml version="1.0"?>
<ruleset name="OCC Standard Ruleset">
    <description>Open Culture Consulting strictly follows PSR standards.</description>
    <file>./bin</file>
    <file>./public</file>
    <file>./src</file>
    <arg name="extensions" value="php"/>
    <rule ref="PSR12">
        <exclude name="Generic.Files.LineLength"/>
    </rule>
</ruleset>
