<?xml version="1.0"?>
<psalm
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorLevel="1"
    resolveFromConfigFile="true"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
    findUnusedVariablesAndParams="true"
    memoizeMethodCallResults="true"
    reportMixedIssues="false"
>
    <issueHandlers>
        <!--
            Entity classes must not be final in order for Doctrine DBAL to work.
        -->
        <ClassMustBeFinal>
            <errorLevel type="suppress">
                <file name="src/Entity/Format.php"/>
                <file name="src/Entity/Record.php"/>
                <file name="src/Entity/Set.php"/>
                <file name="src/Entity/Token.php"/>
            </errorLevel>
        </ClassMustBeFinal>
        <!--
            This is a false-positive caused by Doctrine's EntityManagerDecorator.
        -->
        <MethodSignatureMismatch>
            <errorLevel type="suppress">
                <file name="src/EntityManager.php"/>
            </errorLevel>
        </MethodSignatureMismatch>
        <!--
            This is a false-positive caused by Doctrine's ArrayCollection.
        -->
        <PossiblyNullReference>
            <errorLevel type="suppress">
                <file name="src/Console/UpdateFormatsCommand.php"/>
            </errorLevel>
        </PossiblyNullReference>
        <!--
            DBAL entities require getter/setter methods even if they are never called directly.
        -->
        <PossiblyUnusedMethod errorLevel="suppress"/>
        <PossiblyUnusedReturnValue errorLevel="suppress"/>
        <!--
            Some properties are not set in the constructor and hence checked for initialization.
        -->
        <PropertyNotSetInConstructor errorLevel="suppress"/>
        <RedundantPropertyInitializationCheck errorLevel="suppress"/>
        <!--
            Those classes are dynamically used depending on the given OAI verb.
            @see src/Middleware/Dispatcher.php:95
        -->
        <UnusedClass>
            <errorLevel type="suppress">
                <referencedClass name="OCC\OaiPmh2\Middleware\GetRecord"/>
                <referencedClass name="OCC\OaiPmh2\Middleware\Identify"/>
                <referencedClass name="OCC\OaiPmh2\Middleware\ListIdentifiers"/>
                <referencedClass name="OCC\OaiPmh2\Middleware\ListMetadataFormats"/>
                <referencedClass name="OCC\OaiPmh2\Middleware\ListRecords"/>
                <referencedClass name="OCC\OaiPmh2\Middleware\ListSets"/>
            </errorLevel>
        </UnusedClass>
    </issueHandlers>
    <projectFiles>
        <file name="bin/cli"/>
        <directory name="public"/>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin"/>
        <pluginClass class="Weirdan\DoctrinePsalmPlugin\Plugin"/>
    </plugins>
</psalm>
