name: Psalm Static Analyzer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  Psalm:
    name: Psalm Scanner
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5

      - name: Setup Environment
        uses: php-actions/composer@v6
        with:
          command: install
          php_version: "8.1"
          args: "--ignore-platform-req=ext-zip"

      - name: Run Psalm
        uses: docker://ghcr.io/psalm/psalm-github-actions
        with:
          composer_ignore_platform_reqs: true
          security_analysis: true
          report_file: psalm-results.sarif

      - name: Upload Analysis Results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: psalm-results.sarif
          wait-for-processing: true
